<!DOCTYPE HTML>
<html>
	<head>
		<%- partial('./partials/head.ejs') %>
	</head>
	<body>
		<!-- Main container -->
		<div class='grid-container'>
			<div class='grid-x'>
				<div id='div-agreement-panel' class='cell small-12 medium-6 medium-offset-3'>
					<h4 id='agreement-header' class='text-center'><%- languagePack.notice %></h4>
					<div id='div-agreement-text'>
						<p><%- languagePack.preamble_1 %></p>

						<p><%- languagePack.preamble_2 %></p>

						<ul>
							<li><%- languagePack.terms_1 %></li>
							<li><%- languagePack.terms_2 %></li>
							<li><%- languagePack.terms_3 %></li>
							<li><%- languagePack.terms_4 %></li>
							<li><%- languagePack.terms_5 %></li>
						</ul>
					</div>
				</div>
				<div id='div-agreement-control-panel' class='cell small-12 medium-6 medium-offset-3'>
					<a href='<% sails.config.custom.baseUrl %>agree' id='agree-button'>
						<h4><%- languagePack.agree_terms %></h4>
					</a>
				</div>
			</div>
		</div>
		<!-- End of main container -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Application scripts -->
		<script>
		</script>
		<!-- End of application scripts -->
	</body>
</html>
