<!DOCTYPE HTML>
<html>
	<head>
		<!-- Page CSS -->
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/app.css' />
		<!-- End of Page CSS -->
	</head>
	<body>
		<%- partial('./partials/topbar.ejs') %>

		<!-- Main container -->
		<div class='grid-container'>
      <!-- Heading -->
      <div id='div-mode-select-heading' class='grid-x'>
        <div class='cell small-12 medium-12 medium-offset-3'>
          <h3 id='select-mode-text'>SELECT MODE</h3>
        </div>
				<div id='div-mode-select' class='cell small-12 medium-6 medium-offset-3'>
					<div id='div-syntax-panel' class='mode-panel'>
						<a href='<% sails.config.custom.baseUrl %>syntax' id='syntax-practice-button' class='mode-button'>
							<h4>Syntax Practice</h4>
						</a>
						<p>In this mode, you can practice the syntax of the programming language. You have to translate the given statements into the appropriate programming constructs. The problems change every time so you can keep on practicing!</p>
					</div>
					<div id='div-logic-panel' class='mode-panel'>
						<a href='<% sails.config.custom.baseUrl %>select' id='logic-practice-button' class='mode-button'>
							<h4>Logic Practice</h4>
						</a>
						<p>In this mode, you can practice writing programs for all sorts of situations. You have to think of the right operations to perform the given tasks. There are many problems to solve so try and challenge them all!</p>
					</div>
        </div>
			</div>
      <!-- End of Heading -->

		<!-- End of main container -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Application scripts -->
		<script>
		$(document).ready(function() {
			$('.problem-item').click(function() {
				var problemId = parseInt($(this).find('.problem-number-column').text());
				window.location.replace('<%- sails.config.baseUrl %>problem?id=' + problemId);
			});
		});
		</script>
		<!-- End of application scropts-->
	</body>
</html>
