<!DOCTYPE HTML>
<html>
	<head>
		<!-- Page CSS -->
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/app.css' />
		<!-- End of Page CSS -->

		<!-- CodeMirror CSS -->
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/codemirror.css' />
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/base16-light.css' />
		<!-- End of CodeMirror CSS -->

		<!-- Font Awesome CSS -->
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
		<!-- End of Font Awesome CSS -->

		<!-- Script for CodeMirror -->
		<script src='<%- sails.config.custom.baseUrl %>js/codemirror.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/clike.js'></script>
		<!-- End of script for CodeMirror -->
	</head>
	<body>
		<%- partial('./partials/topbar.ejs') %>

		<!-- Main container -->
    <div id='div-code' class='grid-container'>
			<div class='grid-x'>
				<div class='cell small-12'>
					<div id='solved-callout' class="callout success">
					  <p>You already solved this problem. <a href="#">Next Problem</a></p>
					</div>
				</div>
			</div>
      <div class='grid-x'>
        <!-- Problem description -->
				<div id='div-problem-description' class='cell small-12 medium-3'>
					<h5 id='task-description-text'><%- problem.problem_id %>. <%- problem.title %></h5>
          <div id='div-task-panel'>
            <p>Complete the function that returns the sum of two given integers <span class='code-text'>a</span> and <span class='code-text'>b</span>.</p>
            <p class='subheading'>Assumptions</p>
            <ul>
              <li>Both <span class='code-text'>a</span> and <span class='code-text'>b</span> are in the range [0,100].</li>
            </ul>
            <p class='subheading'>Sample Output</p>
            <ul>
              <li><span class='code-text'>sum(3,5)</span> returns <span class='code-text'>8</span></li>
              <li><span class='code-text'>sum(2,9)</span> returns <span class='code-text'>11</span></li>
              <li><span class='code-text'>sum(50,50)</span> returns <span class='code-text'>100</span></li>
            </ul>
          </div>
        </div>
        <!-- End of problem description -->

				<!-- Coding panel -->
        <div id='div-coding-panel' class='cell small-12 medium-5'>
					<!-- Editor panel -->
					<pre class='fixed-code'>int sum(int a, int b) {</pre>
          <div id='editor'>

          </div>
          <pre class='fixed-code'>}</pre>
					<!-- End of editor panel -->

					<!-- Test panel -->
					<p id='test-panel-label'>You can test your code here.  <i id='test-loading-icon' class='fa fa-gear fa-spin'></i></p>
					<div id='div-test-panel'>
						<div>
							<div class='test-input'><label class='code-text'>a</label><input class='test-input-field' type='text' value='3' /></div>
							<div class='test-input'><label class='code-text'>b</label><input class='test-input-field' type='text' value='5' /></div>
							<a class='test-panel-button' id='test-button' href='#'>Run</a>
						</div>
					</div>
					<div id='div-console-panel'>
						<pre id='test-status-text'>.</pre>
					</div>
					<!-- End of test panel -->

					<!-- Control panel -->
					<div id='div-control-panel'>
						<a class='test-panel-button' id='submit-button' href='#'>Submit Code</a>
						<span id='submit-loading-icon'><i class='fa fa-gear fa-spin'></i> Checking your code...</span>
					</div>
					<!-- End of control panel -->
        </div>
        <!-- End of coding panel -->

				<!-- Adaptive panel -->
				<div id='div-adaptive-panel' class='cell small-12 medium-4'>
					<!-- Guide panel -->
					<div id='div-guide-panel'>
						<p>You seem to be confused. Do you want a guide for this problem?</p>
						<div id='div-guide-buttons'><a id='guide-accept-button' class='guide-button'>Yes</a><a id='guide-deny-button' class='guide-button'>Not now</a></div>
					</div>
					<!-- End of guide panel -->

					<!-- Visualization text panel -->
					<div id='div-visualization-text-panel'>
						<p></p>
					</div>
					<!-- End of visualization text panel -->

					<!-- Visualization panel -->
					<div id='div-visualization-panel'>
						<p id='instruction'>Click on a step to view more information.</p>
						<div id='flowchart' class='mermaid'>graph TD
    A[Add a and b]
		B[Return the result]

		A --> B

		click A expandNode
		click B expandNode
						</div>
					</div>
					<!-- End of visualization panel -->
				</div>
				<!-- End of adaptive panel -->
      </div>
    </div>
		<!-- End of main container -->

		<!-- Submission modal -->
		<div class='reveal' id='submission-modal' data-reveal>
			<p><img id='submission-modal-image' /></p>
			<p id='submission-modal-text'></p>
			<div id='div-nav'>
				<p><a class='nav-button'>Next Problem</a></p>
				<p><a class='nav-button' href='<%- sails.config.custom.baseUrl %>select'>Back to Problem List</a></p>
			</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<!-- End of submission modal -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Stretchy script -->
		<script src='<%- sails.config.custom.baseUrl %>js/stretchy.js'></script>
		<!-- End of stretchy script -->

		<!-- Mermaid script -->
		<script src="https://unpkg.com/mermaid@7.1.0/dist/mermaid.min.js"></script>
		<!-- End of Mermaid script -->

		<!-- Application scripts -->
		<script>
		var guideTexts = {
			A: 'To get the sum of two numbers, use the <span class=\'code-text\'>+</span> operator. You can assign the result to a variable using the <span class=\'code-text\'>=</span> operator.',
			B: 'Use the <span class=\'code-text\'>return</span> keyword to return a value or a variable.'
		};
		var expandNode = function(event) {
			var target = guideTexts[event];
			$('#div-visualization-text-panel p').html(target);
		}

		$(document).ready(function() {
			mermaid.initialize({startOnLoad:true});

			<%- partial('./partials/system.ejs') %>
		});
		</script>
		<!-- End of application scripts-->
	</body>
</html>
