<!DOCTYPE HTML>
<html>
	<head>
		<%- partial('./partials/head.ejs') %>

		<!-- CodeMirror CSS -->
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/codemirror.css' />
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/base16-light.css' />
		<!-- End of CodeMirror CSS -->

		<!-- Font Awesome CSS -->
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
		<!-- End of Font Awesome CSS -->

		<!-- Script for CodeMirror -->
		<script src='<%- sails.config.custom.baseUrl %>js/codemirror.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/clike.js'></script>
		<!-- End of script for CodeMirror -->
	</head>
	<body>
		<%- partial('./partials/topbar.ejs') %>

		<!-- Main container -->
    <div id='div-code' class='grid-container'>
			<div class='grid-x'>
				<div class='cell small-9 medium-5'>
					<div id='solved-callout' class="callout success">
					  <p><%- languagePack.already_solved; %></p>
					</div>
				</div>
				<div class='cell small-3 medium-2'>
					<p id='solved-counter'><%- languagePack.solved_filter %>: <span id='solved-count'><%- syntax_solved %></span></p>
				</div>
				<div class='cell small-12 medium-5' id='div-problem-controls'>
					<% if (exercise_mode == 'syntax') { %>
						<a href='<%- sails.config.custom.baseUrl %>generate' class='top-button green' id='top-button-2' href='#'><%- languagePack.next_problem %></a>
						<a href='<%- sails.config.custom.baseUrl %>mode' class='top-button' id='top-button-1' href='#'><%- languagePack.back_to_mode_select %></a>
					<% } %>
					<% if (exercise_mode == 'logic') { %>
						<a href='<%- sails.config.custom.baseUrl %>select' class='top-button' id='top-button-1' href='#'><%- languagePack.back_to_problem_list %></a>
					<% } %>
				</div>
			</div>
      <div class='grid-x'>
        <!-- Problem description -->
				<div id='div-problem-description' class='cell small-12 medium-3'>
					<h5 id='task-description-text'>
						<% if (exercise_mode == 'syntax') { %>
							Syntax Practice
						<% } else { %>
							<%- problem.problem_id %>. <%- problem.title %>
						<% } %>
					</h5>
					<div id='div-task-panel'>
            <p><%- problem.task %></p>
            <p class='subheading'><%- languagePack.assumptions; %></p>
            <ul>
							<% for (var i = 0; i < problem.assumptions.length; i++) { %>
              	<li><%- problem.assumptions[i]; %></li>
							<% } %>
            </ul>
            <p class='subheading'><%- languagePack.sample_output; %></p>
            <ul>
							<% for (var i = 0; i < 3; i++) { %>
              	<li><span class='code-text'><%- problem.method_name %>(<%- problem.test_case_inputs[i] %>)</span> <%- languagePack.returns; %> <span class='code-text'><%- problem.test_case_outputs[i] %></span></li>
							<% } %>
            </ul>
          </div>
        </div>
        <!-- End of problem description -->

				<!-- Coding panel -->
        <div id='div-coding-panel' class='cell small-12 medium-4'>
					<!-- Editor panel -->
					<pre class='fixed-code'><%- problem.return_type %> <%- problem.method_name %>(<% for (var i = 0; i < problem.argument_types.length; i++) { %><%- problem.argument_types[i] + ' ' + problem.argument_names[i] %><% if (i != problem.argument_types.length - 1) { %>,<%}%><%}%>)</pre>
          <div id='editor'>

          </div>
          <pre class='fixed-code'>}</pre>
					<!-- End of editor panel -->

					<!-- Test panel -->
					<p id='test-panel-label'><%- languagePack.run_message; %>  <i id='test-loading-icon' class='fa fa-gear fa-spin'></i></p>
					<div id='div-test-panel'>
						<div>
							<% for (var i = 0; i < problem.argument_types.length; i++) { %>
								<div class='test-input'><label class='code-text'><%- problem.argument_names[i] %></label><input class='test-input-field' type='text' value='<%- problem.test_case_inputs[0].split(',')[i] %>' /></div>
							<% } %>
							<a class='test-panel-button' id='test-button' href='#'><%- languagePack.run_code; %></a>
						</div>
					</div>
					<div id='div-console-panel'>
						<pre id='test-status-text'>.</pre>
					</div>
					<!-- End of test panel -->

					<!-- Control panel -->
					<div id='div-control-panel'>
						<a class='test-panel-button' id='submit-button' href='#'><%- languagePack.submit_code; %></a>
						<% if (exercise_mode == 'syntax') { %>
							<a class='test-panel-button' data-tooltip id='give-up-button' title='<%- languagePack.forfeit %>' data-position="right" data-alignment="center" href='#'><%- languagePack.give_up %></a><br/><br/>
						<% } %>
						<span id='submit-loading-icon'><i class='fa fa-gear fa-spin'></i> <%- languagePack.checking_code; %></span>
					</div>
					<!-- End of control panel -->
        </div>
        <!-- End of coding panel -->

				<!-- Adaptive panel -->
				<div id='div-adaptive-panel' class='cell small-12 medium-5'>
					<!-- Guide panel -->
					<div id='div-guide-panel'>
						<p><%- languagePack.guide_offer; %></p>
						<div id='div-guide-buttons'><a id='guide-accept-button' class='guide-button'><%- languagePack.yes; %></a><a id='guide-deny-button' class='guide-button'><%- languagePack.not_now; %></a></div>
					</div>
					<!-- End of guide panel -->

					<!-- Visualization text panel -->
					<div id='div-visualization-text-panel'>
						<p></p>
					</div>
					<!-- End of visualization text panel -->

					<!-- Visualization panel -->
					<div id='div-visualization-panel'>
						<div id='flowchart' class='mermaid'><%- problem.flowchart %>
						</div>
					</div>
					<!-- End of visualization panel -->
				</div>
				<!-- End of adaptive panel -->
      </div>
    </div>
		<!-- End of main container -->

		<!-- Submission modal -->
		<div class='reveal' id='submission-modal' data-reveal>
			<p><img id='submission-modal-image' /></p>
			<p id='submission-modal-text'></p>
			<div id='div-nav'>
				<% if (exercise_mode == 'syntax') { %>
					<p><a class='nav-button' href='<%- sails.config.custom.baseUrl %>generate'><%- languagePack.next_problem; %></a></p>
				<% } %>
				<% if (exercise_mode == 'logic') { %>
					<p><a class='nav-button' href='<%- sails.config.custom.baseUrl %>select'><%- languagePack.back_to_problem_list; %></a></p>
				<% } %>
			</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<!-- End of submission modal -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Stretchy script -->
		<script src='<%- sails.config.custom.baseUrl %>js/stretchy.js'></script>
		<!-- End of stretchy script -->

		<!-- Mermaid script -->
		<script src='https://unpkg.com/mermaid@7.1.0/dist/mermaid.min.js'></script>
		<!-- End of Mermaid script -->

		<!-- Application scripts -->
		<script>
			data_baseUrl = '<%- sails.config.custom.baseUrl %>';
			data_userId = '<%- user_id %>';
			data_sessionId = '<%- session_id %>';
			data_problemId = '<%- problem.problem_id %>';
			data_exerciseMode = '<%- exercise_mode %>';

			message_submit_correct = '<%- languagePack.submission_correct %>';
			message_submit_wrong = '<%- languagePack.submission_wrong %>';
			message_steps_description = '<%- languagePack.steps_description %>';
			message_view_step_information = '<%- languagePack.view_step_information %>';
			message_function_returned = '<%- languagePack.function_returned %>';
			message_function_no_return = '<%- languagePack.function_no_return %>';
			message_function_error = '<%- languagePack.function_error %>';
		</script>
		<script src='<%- sails.config.custom.baseUrl %>js/system.js'></script>
		<script>
			$(document).ready(function() {
				initializeSystem();
				/*
				<%- problem.flowchart %>
				*/

				/* Debugging purposes */
				$(document).keydown(function(event) {
					if (event.which == 113) {
						offerGuide();
					}
				});
			});
		</script>
		<!-- End of application scripts-->
	</body>
</html>
