<!DOCTYPE HTML>
<html>
	<head>
		<%- partial('./partials/head.ejs') %>
	</head>
	<body>
		<%- partial('./partials/topbar.ejs') %>

		<!-- Main container -->
		<div class='grid-container'>
			<!-- Problem list heading and filters -->
			<div id='div-problem-list-heading' class='grid-x'>
				<div class='cell small-12 medium-3 medium-offset-3'>
					<h3 id='select-problem-text'><%- languagePack.logic_practice_header %></h4>
				</div>
				<div id='div-problem-list-filters' class='cell small-12 medium-3'>
					<ul id='list-filter'>
						<li><a class='select-problem-option <% if (filter == 'a') { %> selected <% } %>' href='<%- sails.config.custom.baseUrl %>select?f=a'><%- languagePack.all_filter %></a></li>
						<li><a class='select-problem-option <% if (filter == 'u') { %> selected <% } %>' href='<%- sails.config.custom.baseUrl %>select?f=u'><%- languagePack.unsolved_filter %></a></li>
						<li><a class='select-problem-option <% if (filter == 's') { %> selected <% } %>' href='<%- sails.config.custom.baseUrl %>select?f=s'><%- languagePack.solved_filter %></a></li>
					</ul>
				</div>
			</div>
			<!-- End of problem list heading and filters -->
			<!-- Problem list -->
			<div id='div-problem-list' class='grid-x'>
				<div class='cell small-12 medium-6 medium-offset-3'>
					<table id='table-problems' class='unstriped hover'>
						<% for (var i = 0; i < problems.length; i++) { %>
							<tr class='problem-item'>
								<td class='problem-completed-column'>
									<% if (solved.indexOf(problems[i].problem_id) != -1) { %>
										<img class='problem-completed-icon' src='<%- sails.config.custom.baseUrl %>images/circle.png' />
									<% } %>
								</td>
								<td class='problem-number-column'><%- problems[i].problem_id %></td>
								<td class='problem-title-column'>
									<% if (region == 'en') { %>
										<%- problems[i].title %>
									<% } else { %>
										<%- problems[i].title_jp %>
									<% } %>
								</td>
							</tr>
						<% } %>
					</table>
				</div>
			</div>
			<!-- End of problem list -->
			<!-- Pagination -->
			<div id='div-problem-list' class='grid-x'>
				<div class='cell small-12 medium-6 medium-offset-3'>
					<ul class='pagination text-center'>
						<% var totalPages = Math.floor(count / 10);
							if (count % 10 > 0) totalPages++;	%>
						<% for (var i = 0; i < totalPages; i++) { %>
							<% if (i == page) { %>
								<li class='current'><%- i + 1 %></li>
							<% } else { %>
								<li><a href='<%- sails.config.baseUrl %>select?p=<%- i %>'><%- i + 1 %></a></li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
			<!-- End of pagination -->
		</div>
		<!-- End of main container -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Application scripts -->
		<script>
		$(document).ready(function() {
			$('.problem-item').click(function() {
				var problemId = parseInt($(this).find('.problem-number-column').text());
				window.location.replace('<%- sails.config.baseUrl %>problem?id=' + problemId);
			});
		});
		</script>
		<!-- End of application scropts-->
	</body>
</html>
