<!DOCTYPE HTML>
<html>
	<head>
		<!-- Page CSS -->
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/app.css' />
		<!-- End of Page CSS -->

		<!-- CodeMirror CSS -->
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/codemirror.css' />
		<link rel='stylesheet' href='<%- sails.config.custom.baseUrl %>styles/base16-light.css' />
		<!-- End of CodeMirror CSS -->

		<!-- Font Awesome CSS -->
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
		<!-- End of Font Awesome CSS -->

		<!-- Script for CodeMirror -->
		<script src='<%- sails.config.custom.baseUrl %>js/codemirror.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/clike.js'></script>
		<!-- End of script for CodeMirror -->
	</head>
	<body>
		<%- partial('./partials/topbar.ejs') %>

		<!-- Main container -->
    <div id='div-code' class='grid-container'>
			<div class='grid-x'>
				<div class='cell small-12'>
					<div id='solved-callout' class="callout success">
					  <p>You already solved this problem. <a href="#">Next Problem</a></p>
					</div>
				</div>
			</div>
      <div class='grid-x'>
        <!-- Problem description -->
        <div id='div-problem-description' class='cell small-12 medium-4'>
          <h5 id='task-description-text'>Syntax Practice!</h5>
          <div id='div-task-panel'>
            <p><%- problem.task %></p>
            <p class='subheading'>Assumptions</p>
            <ul>
							<% for (var i = 0; i < problem.assumptions.length; i++) { %>
              	<li><%- problem.assumptions[i]; %></li>
							<% } %>
            </ul>
            <p class='subheading'>Sample Output</p>
            <ul>
							<% for (var i = 0; i < 3; i++) { %>
              	<li><span class='code-text'><%- problem.method_name %>(<%- problem.test_case_inputs[i] %>)</span> returns <span class='code-text'><%- problem.test_case_outputs[i] %></span></li>
							<% } %>
            </ul>
          </div>
        </div>
        <!-- End of problem description -->

				<!-- Coding panel -->
        <div id='div-coding-panel' class='cell small-12 medium-8'>
					<!-- Editor panel -->
					<pre class='fixed-code'>int sum(int a, int b) {</pre>
          <div id='editor'>

          </div>
          <pre class='fixed-code'>}</pre>
					<!-- End of editor panel -->

					<!-- Test panel -->
					<p id='test-panel-label'>You can test your code here.  <i id='test-loading-icon' class='fa fa-gear fa-spin'></i></p>
					<div id='div-test-panel'>
						<div>
							<div class='test-input'><label class='code-text'>a</label><input class='test-input-field' type='text' value='3' /></div>
							<div class='test-input'><label class='code-text'>b</label><input class='test-input-field' type='text' value='5' /></div>
							<a class='test-panel-button' id='test-button' href='#'>Run</a>
						</div>
					</div>
					<div id='div-console-panel'>
						<pre id='test-status-text'>.</pre>
					</div>
					<!-- End of test panel -->

					<!-- Control panel -->
					<div id='div-control-panel'>
						<a class='test-panel-button' id='submit-button' href='#'>Submit Code</a>
						<span id='submit-loading-icon'><i class='fa fa-gear fa-spin'></i> Checking your code...</span>
					</div>
					<!-- End of control panel -->
        </div>
        <!-- End of coding panel -->
      </div>
    </div>
		<!-- End of main container -->

		<!-- Submission modal -->
		<div class='reveal' id='submission-modal' data-reveal>
			<p><img id='submission-modal-image' /></p>
			<p id='submission-modal-text'></p>
			<div id='div-nav'>
				<p><a class='nav-button'>Next Problem</a></p>
				<p><a class='nav-button' href='<%- sails.config.custom.baseUrl %>select'>Back to Problem List</a></p>
			</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<!-- End of submission modal -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Stretchy script -->
		<script src='<%- sails.config.custom.baseUrl %>js/stretchy.js'></script>
		<!-- End of stretchy script -->

		<!-- Application scripts -->
		<script>
		$(document).ready(function() {
			<%- partial('./partials/system.ejs') %>
		});
		</script>
		<!-- End of application scripts-->
	</body>
</html>
